<body [ngClass]="{'theme-dark': isDarkMode}">
  <div class="container">
    <header>
      <nav>
        <ul>
          <button (click)="navigateTo('/dashboard')">Dashboard</button>
          <button (click)="navigateTo('/add-contact')">Add Contact</button>
          <button (click)="navigateTo('/contact-book')">Contact Book</button>
        </ul>
      </nav>
    </header>
    <div class="theme-toggle">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitches" [checked]="isDarkMode" (change)="toggleDarkMode()">
        <label class="custom-control-label" for="customSwitches">
          <div class="toggle-icons">
            <img *ngIf="!isDarkMode" src="assets/Sun.png" alt="Sun Icon" class="toggle-icon">
            <img *ngIf="isDarkMode" src="assets/images.jpeg" alt="Moon Icon" class="toggle-icon">
          </div>
        </label>
      </div>      
    </div>

    <router-outlet></router-outlet>
  </div>
</body>
